accelerate
aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
bitsandbytes
certifi
charset-normalizer
click
cmake
dataclasses-json
deep-translator
fastapi
filelock
frozenlist
fsspec
greenlet
gunicorn
huggingface-hub
idna
inotify
Jinja2
joblib
langchain
langchainplus-sdk
lit
llama-index
MarkupSafe
marshmallow
marshmallow-enum
mpmath
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai
openapi-schema-pydantic
packaging
pandas
psutil
pycryptodome
pydantic
pypdf
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scipy
six
soupsieve
SQLAlchemy
sympy
tenacity
tiktoken
tokenizers
torch
tqdm
transformers
triton
typing_extensions
typing-inspect
tzdata
urllib3
uvicorn[standard]
yarl
